/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .left-content {
    flex: 1;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
  }
  
  .profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
    
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .paragraph {
    font-size: 18px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  
    .left-content {
      text-align: left;
      padding: 20px;
      order: 2;
    }
  
    .profile-pic {
      order: 1;
      margin: 20px;
    }
  }*/

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #3e4491;
  background: -moz-linear-gradient(-45deg, #3e4491 0%, #292A73 47%, #1A1B4B 100%);
  background: -webkit-linear-gradient(-45deg, #3e4491 0%, #292A73 47%, #1A1B4B 100%);
  background: linear-gradient(135deg, #3e4491 0%, #292A73 47%, #1A1B4B 100%);
  min-height: 100vh;
}

.left-content {
  flex: 1;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding: 20px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.header {
  font-size: 24px;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 18px;
}

/*.pages {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.page {
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding: 20px;
}

.page:nth-child(even) {
  background-color: transparent;
}

.page:nth-child(odd) {
  background-color: transparent;
}

.page-indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #646464;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #fff;
}*/

.pages {
  display: flex;
  overflow-x: scroll; /* Change back to "scroll" */
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth; /* Add this line for smooth scrolling */
}

.page {
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding: 20px;
  scroll-snap-stop: always; /* Add this line to control snap behavior */
  overflow-y: hidden; /* Hide vertical scroll bar */
}

.page:hover {
  overflow-y: auto; /* Add this line to enable scrolling when hovering */
}

.pages::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.page-indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #646464;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #fff;
}


/* Mobile View */
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .profile-pic {
    order: -1;
    margin-bottom: 20px;
  }

  .left-content {
    order: 1;
  }
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }
}

  
  
  