/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .left-content {
    flex: 1;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
  }
  
  .profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
    
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .paragraph {
    font-size: 18px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  
    .left-content {
      text-align: left;
      padding: 20px;
      order: 2;
    }
  
    .profile-pic {
      order: 1;
      margin: 20px;
    }
  }*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

/* Mobile View */
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .profile-pic {
    order: -1;
    margin-bottom: 20px;
  }

  .left-content {
    order: 1;
  }
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }
}